<div>
  <div>
    <h1>
      List of all dishes
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new dish
    </h2>

    <form action="/insert_dish" method="post">
      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image">
      </div>

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>

      <div>
        <label for="recipes_count_box">
          Recipes count
        </label>

        <input type="text" id="recipes_count_box" name="query_recipes_count">
      </div>

      <button>
        Create dish
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Image
        </th>

        <th>
          Name
        </th>

        <th>
          Description
        </th>

        <th>
          Recipes count
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_dishes.each do |a_dish| %>
      <tr>
        <td>
          <%= a_dish.id %>
        </td>

        <td>
          <%= a_dish.image %>
        </td>

        <td>
          <%= a_dish.name %>
        </td>

        <td>
          <%= a_dish.description %>
        </td>

        <td>
          <%= a_dish.recipes_count %>
        </td>

        <td>
          <%= time_ago_in_words(a_dish.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_dish.updated_at) %> ago
        </td>

        <td>
          <a href="/dishes/<%= a_dish.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
