<div>
  <div>
    <h1>
      All Recipes
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new dish
    </h2>
    <% if current_user != nil %>
      <form action="/insert_dish" method="post">
        <div>
          <label for="name_box">
            Name
          </label>

          <input type="text" id="name_box" name="query_name">
        </div>

        <div>
          <label for="image_box">
            Image
          </label>

          <input type="text" id="image_box" name="query_image" placeholder="Enter a URL for the image">
        </div>

        <div>
          <label for="description_box">
            Instructions
          </label>

          <textarea type="text" id="description_box" name="query_description" placeholder="Enter recipe..."></textarea>
        </div>

        <button>
          Create dish
        </button>
      </form>
    <% else %>
      <p>You must <a href="/users/sign_in">sign in</a> to add a recipe.</p>
    <% end %>

  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Image
        </th>

        <th>
          Name
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
          User
        </th>

        <th>
          Details
        </th>
      </tr>

      <% @list_of_dishes.each do |a_dish| %>
      <tr>
        <td>
          <%= a_dish.id %>
        </td>

        <td>
          <img src="<%= a_dish.image %>" height="300px">
        </td>

        <td>
          <%= a_dish.name %>
        </td>

        <td>
          <%= time_ago_in_words(a_dish.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_dish.updated_at) %> ago
        </td>

        <td>
          <%= a_dish.poster.email %>
        </td>
          
        <td>
          <a href="/dishes/<%= a_dish.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
